<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <nav>
	  <a href="{{ site.url }}">Home</a>
	  <a class="dropdown-btn">Random Stuff</a>
	    <div class="dropdown-container">
		  <a href="https://discord.gg/qVWaKRMCRc">Borgy's Discord</a>
                  <a href="https://www.roblox.com/users/1859793637/profile">Me on Roblox</a>
		  <a href="https://www.reddit.com/r/ARK/?styling=true&f=flair_name%3A%22MEME%22">Meme zone</a>
	</div>	    
          <a href="{{ site.baseurl }}/credit">Credits</a>
	  <a class="dropdown-btn">Have feedback?</a>
	    <div class="dropdown-container">
		    <a href="https://github.com/Dynosawr/Dynosawr.github.io/issues/new?assignees=&labels=&template=bug_report.md&title=">Bug report</a>
		    <a href="https://github.com/Dynosawr/Dynosawr.github.io/issues/new?assignees=&labels=&template=feature_request.md&title=">Feature request</a>
           </div>
         <a href="{{ site.baseurl }}/cube">Cube Game</a>
    </nav>  
	<main>
      {{ content }}
	</main>
<script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
      <script src="{{ site.baseurl }}/dark.js"></script>
	<script src="{{ site.baseurl }}/scripts.js"></script>
<script>
  function addDarkmodeWidget() {
    new Darkmode().showWidget();
  }
  window.addEventListener('load', addDarkmodeWidget);
</script>
  </body>
</html>
