<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    <nav>
	  <a href="{{ site.url }}">Home</a>
	  <a class="dropdown-btn">Random Stuff</a>
	    <div class="dropdown-container">
		  <a href="https://discord.gg/qVWaKRMCRc">Borgy's Discord Server</a>
                  <a href="https://www.roblox.com/users/1859793637/profile">Me on Roblox</a>
    </div>		
    </nav>  
	<main>
      {{ content }}
	</main>
	<script src="{{ site.baseurl }}/scripts.js"></script>
  </body>
</html>
